/* ==UserStyle==
@name           SDO Pgups Dark Theme
@namespace      github.com/openstyles/stylus
@version        1.0.0
@updateURL      https://github.com/CalebCintary/pgups-dark-theme-stylys/raw/main/sdo.pgups.ru.user.css
@description    A new userstyle
@author         CalebCintary
==/UserStyle== */

@-moz-document url-prefix("https://sdo.pgups.ru") {
    body {
        --text-color: #c0c4d1;
        --sec-text-color: #74788d;
        --backgorund: #242939;
        --sec-background: #2d3347;
        --th-background: #46506f;
        --rec-background: #6878a8;
        --btn-color: #39415b;
        --btn-hover-color: #5d78ff;
        background-color: #242939;
    }
    .page-navbar-wrapper,
    #page-header .dock_bg_wrapper,
    #page-wrapper,
    body>* {
        background-color: var(--background);
    }
    #page-header {
        background-color: var(--backgorund) !important;
    }
    #page-wrapper {
        background-color: var(--backgorund);
        background-image: none;
    }
    .page-navbar-wrapper {
        background-color: var(--backgorund);
    }
    #page-wrapper>div {
        background-color: var(--background);
    }
    #page-content #region-main {
        background-color: var(--background);
        max-width: 100%;
    }
    .crw_cs_catblock {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .block,
    #block-region-side-post .block,
    #block-region-side-pre .block,
    #block-region-side-content-top .block,
    #block-region-content .block,
    #block-region-side-content-bot .block,
    #block-region-content .block {
        background-color: var(--background);
    }
    .mform .form-inline .form-control,
    .mform .form-inline .custom-select,
    #page-footer div.footerborder,
    #page-footer>div>div {
        max-width: 100%;
        background-color: var(--sec-background);
    }
    #crw_formsearch.default #id_topblock_name,
    #crw_formsearch.default #id_topblock_crws,
    #crw_formsearch.default #id_topblock_crws+.form-autocomplete-selection+div>input[type=text] {
        border: 1px solid var(--th-background);
        border-radius: 4px;
        width: 710px;
        vertical-align: top;
        color: var(--text-color);
        padding-left: 10px;
    }
    #id_topblock_name::placeholder {
        color: var(--text-color);
    }
    #crw_formsearch.default #id_topblock_name::active,
    #crw_formsearch.default #id_topblock_crws,
    #crw_formsearch.default #id_topblock_crws+.form-autocomplete-selection+div>input[type=text] {
        border: 4px solid var(--btn-hover-color)
    }
    #page-header .h_top_wrapper {
        background-color: var(--sec-background);
        color: #fff;
    }
    #dock_bg {
        height: 50px;
        position: relative;
        background-color: var(--sec-background);
        background-image: none;
        overflow: hidden;
    }
    #page-navbar {
        background-color: var(--sec-background);
        color: var(--text-color);
        padding-top: 3px;
        padding-bottom: 3px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    #page-navbar a {
        color: var(--text-color);
    }
    #page-wrapper .btn-primary:hover {
        color: #fff;
        background-color: var(--btn-hover-color);
        border-color: #3c605c;
    }
    .crw_formsearch.default .mform .form-inline fieldset>div>.form-group {
        margin: 0;
    }
    #crw_formsearch.default #fgroup_id_topblock fieldset>div>.fitem,
    #crw_formsearch.default #fgroup_id_topblock .crw_system_search_form_resetbutton {
        margin-top: 0;
        margin-bottom: 0;
        align-self: flex-end!important;
    }
    #page-wrapper .btn-secondary {
        color: #fff;
        background-color: var(--btn-color);
        border-color: var(--btn-color);
        border: 0;
        border-radius: 4px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    #page-wrapper .btn-secondary:hover,
    .block .btn-primary:hover,
    #page-wrapper .block .btn-primary:hover,
    .block .btn-secondary:hover,
    #page-wrapper .block .btn-secondary:hover {
        color: #fff;
        background-color: var(--btn-hover-color);
        border-color: #3c605c;
    }
    .has_dock_top_horizontal #dock .dockeditem .dockedtitle {
        border-radius: 5px;
    }
    .has_dock_top_horizontal #dock .dockeditem .dockedtitle:hover,
    .has_dock_top_horizontal #dock .dockeditem .dockedtitle:active,
    .has_dock_top_horizontal #dock .dockeditem .dockedtitle:focus {
        color: #fff;
        background-color: var(--btn-hover-color);
        -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    #page-header .btn-primary,
    #f_social_wrapper .social_blocklinks a,
    #page-footer .btn-primary {
        color: #fff;
        background-color: var(--btn-color);
        border-color: var(--btn-color);
        border: 0;
        border-radius: 4px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    #page-header .btn-primary:hover,
    #f_social_wrapper .social_blocklinks a:hover,
    #f_social_wrapper .social_blocklinks a:focus,
    #f_social_wrapper .social_blocklinks a:active,
    #page-footer .btn-primary:hover {
        color: #fff;
        background-color: var(--btn-hover-color);
        border-color: #3c605c;
    }
    .catli_block_title,
    .crw_cs_catblocktitle,
    .crwh_categoryname,
    .clajax_categoryname {
        background-color: var(--backgorund);
        color: var(--sec-text-color);
    }
    #crw_formsearch.default #fgroup_id_topblock fieldset>div {
        padding-bottom: 40px;
        border-bottom: 1px solid var(--th-background);
    }
    #page-wrapper .btn-primary,
    .block .btn-primary,
    #page-wrapper .block .btn-primary,
    .block .btn-secondary,
    #page-wrapper .block .btn-secondary {
        color: #fff;
        background-color: var(--btn-color);
        border-color: var(--btn-color);
        border-radius: 4px;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding-bottom: 6.5px;
    }
    .crw_cs_catblock .crw_cs_cattile .crw_cs_cattile_img:after {
        height: 0;
    }
    .crw_cs_catblock .crw_cs_cattile .crw_cs_cattile_img {
        border: 0;
        border-radius: 5px;
        box-shadow: none;
    }
    .crw_cs_catblock .crw_cs_cattile:hover .crw_cs_cattile_img,
    .crw_cs_catblock .crw_cs_cattile_img:hover {
        box-shadow: none;
    }
    .crw_cs_cattile {
        border: 1px solid var(--th-background);
        border-radius: 5px;
        padding: 12px;
        margin-right: 1%;
    }
    .block a:hover,
    #page-wrapper .block a:hover {
        background-color: var(--th-background);
        -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    .crw_cs_cattile_title {
        font-weight: 400;
        color: var(--text-color);
        padding: 5px 0;
    }
    #page-footer div.footerborder {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .crw_no_courses {
        color: var(--text-color);
    }
    #local_crw .perpager,
    .block a,
    #page-wrapper .block a {
        color: var(--text-color);
    }
    #local_crw .perpager a.current {
        background-color: var(--th-background);
        border-color: var(--th-background);
    }
    #h_rightblock_wrapper .usermenu .dropdown-menu,
    #h_rightblock_wrapper .usermenu .dropdown-item {
        background-color: var(--th-background)
    }
    #h_rightblock_wrapper .usermenu div.menu {
        border-radius: 5px;
    }
    .dropdown-divider {
        height: 0;
        margin: .5rem 0;
        overflow: hidden;
        border-top: 1px solid var(--rec-background);
    }
    #h_rightblock_wrapper .usermenu .dropdown-item {
        color: var(--text-color);
        border-radius: 3px;
    }
    #h_rightblock_wrapper .usermenu .dropdown-item:hover,
    #h_rightblock_wrapper .usermenu .dropdown-item:focus {
        color: var(--text-color);
        background-color: var(--btn-hover-color);
    }
    .block,
    #block-region-side-post .block,
    #block-region-side-pre .block,
    #block-region-side-content-top .block,
    #block-region-content .block,
    #block-region-side-content-bot .block,
    #block-region-content .block {
        border: 1px solid var(--th-background);
        border-radius: 5px;
    }
    .block,
    #block-region-side-post .block,
    #block-region-side-pre .block,
    #block-region-side-content-top .block,
    #block-region-content .block,
    #block-region-side-content-bot .block,
    #block-region-content .block {
        color: var(--text-color);
    }
    .block>.card-body>.card-title,
    #page-wrapper .block>.card-body>.card-title {
        background-color: var(--backgorund) !important;
        color: #fff;
    }
    .block_myinfo_user_fullname_wrapper {
        color: var(--text-color);
        border-bottom: 1px solid var(--th-background);
    }
    .block_myinfo_counters_unread .block_myinfo_counters_counter_value,
    .block_myinfo_counters_notgraded .block_myinfo_counters_counter_value {
        background: var(--th-background);
        border-radius: 5px;
    }
    .block_myinfo_counters_counter_label_wrapper {
        width: auto;
        border-radius: 5px;
    }
    div>div>div.block_myinfo_wrapper.clearfix>div.block_myinfo_counters_wrapper>div>div.block_myinfo_counters_counter_label_wrapper>a {
        padding: 0 5px;
    }
    .block a:hover,
    #page-wrapper .block a:hover {
        color: #fff;
    }
    .block_my_portfolio_rating span.block_my_portfolio_rating_rating_value {
        background: var(--backgorund);
        color: var(--text-color);
    }
    .block_my_portfolio_rating span.block_my_portfolio_rating_points_value {
        background: var(--th-background);
        border-radius: 5px;
        margin-left: 5px;
        color: var(--text-color);
    }
    .calendar_event_course {
        background: #ffd3bd45;
        border-radius: 3px;
    }
    .block .minicalendar th,
    .block .minicalendar td {
        border: 2px solid var(--backgorund);
        border-radius: 7px;
    }
    .block a:hover,
    #page-wrapper .block a:hover {
        color: var(--text-color);
        background: transparent;
    }
    .card {
        background: var(--backgorund);
        border: 1px solid var(--th-background);
        border-radius: 5px;
        padding: 5px;
    }
    .bg-white {
        background: var(--backgorund) !important;
    }
    .block .block-cards .progress {
        border: 1px solid var(--th-background) !important;
        border-radius: 3px;
    }
    .block .block-cards a.coursename,
    .block .block-cards span.categoryname,
    .block .block-cards .btn-link {
        color: var(--text-color);
    }
    .block .btn-outline-secondary,
    #page-wrapper .block .btn-outline-secondary {
        color: var(--text-color);
        border: 1px solid var(--th-background);
        border-radius: 5px;
    }
    .block .btn-outline-secondary:hover,
    #page-wrapper .block .btn-outline-secondary:hover {
        border-color: var(--btn-hover-color);
        background: var(--btn-hover-color);
    }
    .dropdown-menu {
        background: var(--th-background);
        border: 0;
        border-radius: 5px;
    }
    .block .dropdown-item,
    #page-wrapper .block .dropdown-item {
        color: var(--text-color);
    }
    .block .dropdown-item:hover,
    #page-wrapper .block .dropdown-item:hover,
    .block .dropdown-item:focus,
    #page-wrapper .block .dropdown-item:focus {
        color: white
    }
    .dropdown-item:active,
    .dropdown-item:hover,
    .dropdown-item:focus,
    .dropdown-item:focus-within {
        background: var(--th-background);
        color: white;
    }
    .block .btn-outline-secondary:hover,
    #page-wrapper .block .btn-outline-secondary:hover,
    .block .btn-outline-secondary:focus,
    #page-wrapper .block .btn-outline-secondary:focus,
    .block .btn-outline-secondary.focus,
    #page-wrapper .block .btn-outline-secondary.focus,
    .block .btn-outline-secondary:active,
    #page-wrapper .block .btn-outline-secondary:active {
        box-shadow: 0 0 0 0.2rem var(--btn-hover-color);
    }
    #page-navbar .btn-secondary {
        background: var(--btn-color);
        color: var(--text-color);
        border: 0;
        border-radius: 3px;
    }
    #page-navbar .btn-secondary:hover {
        background: var(--btn-hover-color);
        color: white;
    }
    #f_social_wrapper .social_blocklinks a.vkontakte:after,
    #page-wrapper .potentialidp a .oauthicon.vk,
    #page-wrapper .potentialidp a .oauthicon.vk:hover,
    .moodle-dialogue.otloginform .potentialidp a .oauthicon.vk,
    .moodle-dialogue.otloginform .potentialidp a .oauthicon.vk:hover,
    .loginpage_sidebar #page-wrapper .potentialidp a .oauthicon.vk,
    .loginpage_sidebar #page-wrapper .potentialidp a .oauthicon.vk:hover,
    .block_linksocial.block_docked .potentialidp a .oauthicon.vk,
    .block_linksocial.block_docked .potentialidp a .oauthicon.vk:hover {
        background-color: var(--btn-color);
        filter: none;
    }
    .list-group-item {
        background: var(--backgorund);
    }
    .border-bottom {
        border-bottom: 1px solid var(--th-background)!important;
    }
    #page-container-2>div>div>div>div>div>div.icon-size-4.d-flex.align-self-top>img {
        filter: opacity(0.5)
    }
    #page-footer {
        background: var(--backgorund);
    }
    .block .page-link,
    #page-wrapper .block .page-link {
        background: var(--th-background);
        border: 1px solid var(--th-background);
        border-radius: 3px;
    }
    .block .page-link:hover,
    #page-wrapper .block .page-link:hover {
        background: var(--btn-hover-color);
        border: 1px solid var(--btn-hover-color);
    }
    #page-wrapper ul.topics>li>.content>ul.section>li:first-of-type {
        margin-top: 0;
    }
    #page-wrapper ul.topics>li,
    #page-wrapper ul.weeks>li,
    #page-wrapper ul.format_opentechnology_sections>li {
        border: 1px solid var(--th-background);
        border-radius: 5px;
    }
    body.path-course-view #page-wrapper .course-content>ul>li>.content .sectionname,
    body.path-course-view #page-wrapper .course-content>ul>li>.content .sectionhead,
    body.path-course-view #page-wrapper .course-content>ul>li>.content .sectionname a,
    body.path-course-view #page-wrapper .course-content>ul>li>.content .sectionhead a {
        background: var(--backgorund);
        color: var(--text-color);
    }
    #page-wrapper ul.topics>li>.content,
    #page-wrapper ul.weeks>li>.content,
    #page-wrapper ul.format_opentechnology_sections>li>.content {
        color: var(--text-color);
    }
    table {
        border: 1px solid var(--th-background);
    }
    #page-wrapper a {
        color: var(--text-color);
    }
    .resourcelinkdetails {
        color: var(--sec-text-color)
    }
    #page-wrapper a:hover {
        color: white;
        text-decoration: none;
    }
    body {
        color: var(--text-color);
    }
    .generaltable {
        color: var(--text-color);
    }
    table#explaincaps tbody>tr:nth-child(odd)>td:nth-child(odd),
    table#defineroletable tbody>tr:nth-child(odd)>td:nth-child(odd),
    table.grading-report tbody>tr:nth-child(odd)>td:nth-child(odd),
    table#listdirectories tbody>tr:nth-child(odd)>td:nth-child(odd),
    table.rolecaps tbody>tr:nth-child(odd)>td:nth-child(odd),
    table.userenrolment tbody>tr:nth-child(odd)>td:nth-child(odd),
    table#form tbody>tr:nth-child(odd)>td:nth-child(odd),
    form#movecourses table tbody>tr:nth-child(odd)>td:nth-child(odd),
    #page-admin-course-index .editcourse tbody>tr:nth-child(odd)>td:nth-child(odd),
    .forumheaderlist tbody>tr:nth-child(odd)>td:nth-child(odd),
    table.flexible tbody>tr:nth-child(odd)>td:nth-child(odd),
    .generaltable tbody>tr:nth-child(odd)>td:nth-child(odd),
    table#explaincaps tbody>tr:nth-child(odd)>th:nth-child(odd),
    table#defineroletable tbody>tr:nth-child(odd)>th:nth-child(odd),
    table.grading-report tbody>tr:nth-child(odd)>th:nth-child(odd),
    table#listdirectories tbody>tr:nth-child(odd)>th:nth-child(odd),
    table.rolecaps tbody>tr:nth-child(odd)>th:nth-child(odd),
    table.userenrolment tbody>tr:nth-child(odd)>th:nth-child(odd),
    table#form tbody>tr:nth-child(odd)>th:nth-child(odd),
    form#movecourses table tbody>tr:nth-child(odd)>th:nth-child(odd),
    #page-admin-course-index .editcourse tbody>tr:nth-child(odd)>th:nth-child(odd),
    .forumheaderlist tbody>tr:nth-child(odd)>th:nth-child(odd),
    table.flexible tbody>tr:nth-child(odd)>th:nth-child(odd),
    .generaltable tbody>tr:nth-child(odd)>th:nth-child(odd),
    table#explaincaps tbody>tr:nth-child(odd)>td,
    table#defineroletable tbody>tr:nth-child(odd)>td,
    table.grading-report tbody>tr:nth-child(odd)>td,
    table#listdirectories tbody>tr:nth-child(odd)>td,
    table.rolecaps tbody>tr:nth-child(odd)>td,
    table.userenrolment tbody>tr:nth-child(odd)>td,
    table#form tbody>tr:nth-child(odd)>td,
    form#movecourses table tbody>tr:nth-child(odd)>td,
    #page-admin-course-index .editcourse tbody>tr:nth-child(odd)>td,
    .forumheaderlist tbody>tr:nth-child(odd)>td,
    table.flexible tbody>tr:nth-child(odd)>td,
    .generaltable tbody>tr:nth-child(odd)>td,
    table#explaincaps tbody>tr:nth-child(odd)>th,
    table#defineroletable tbody>tr:nth-child(odd)>th,
    table.grading-report tbody>tr:nth-child(odd)>th,
    table#listdirectories tbody>tr:nth-child(odd)>th,
    table.rolecaps tbody>tr:nth-child(odd)>th,
    table.userenrolment tbody>tr:nth-child(odd)>th,
    table#form tbody>tr:nth-child(odd)>th,
    form#movecourses table tbody>tr:nth-child(odd)>th,
    #page-admin-course-index .editcourse tbody>tr:nth-child(odd)>th,
    .forumheaderlist tbody>tr:nth-child(odd)>th,
    table.flexible tbody>tr:nth-child(odd)>th,
    .generaltable tbody>tr:nth-child(odd)>th,
    table#explaincaps tbody>tr>td,
    table#defineroletable tbody>tr>td,
    table.grading-report tbody>tr>td,
    table#listdirectories tbody>tr>td,
    table.rolecaps tbody>tr>td,
    table.userenrolment tbody>tr>td,
    table#form tbody>tr>td,
    form#movecourses table tbody>tr>td,
    #page-admin-course-index .editcourse tbody>tr>td,
    .forumheaderlist tbody>tr>td,
    table.flexible tbody>tr>td,
    .generaltable tbody>tr>td,
    table#explaincaps tbody>tr>th,
    table#defineroletable tbody>tr>th,
    table.grading-report tbody>tr>th,
    table#listdirectories tbody>tr>th,
    table.rolecaps tbody>tr>th,
    table.userenrolment tbody>tr>th,
    table#form tbody>tr>th,
    form#movecourses table tbody>tr>th,
    #page-admin-course-index .editcourse tbody>tr>th,
    .forumheaderlist tbody>tr>th,
    table.flexible tbody>tr>th,
    .generaltable tbody>tr>th {
        background-color: var(--backgorund)
    }
    .path-mod-assign td.submissionstatus,
    .path-mod-assign div.submissionstatus,
    .path-mod-assign a:link.submissionstatus {
        color: var(--text-color);
        background-color: #4d1c1c6b
    }
    .path-mod-assign td.submissionstatusdraft,
    .path-mod-assign div.submissionstatusdraft,
    .path-mod-assign a:link.submissionstatusdraft {
        color: var(--text-color);
        background-color: #3636157d
    }
    .path-mod-assign td.submissionstatussubmitted,
    .path-mod-assign div.submissionstatussubmitted,
    .path-mod-assign a:link.submissionstatussubmitted {
        color: var(--text-color);
        background-color: #0a3f0a30
    }
    .path-mod-assign td.submissionlocked,
    .path-mod-assign div.submissionlocked {
        color: var(--text-color);
        background-color: #3636157d
    }
    .path-mod-assign td.submissionreopened,
    .path-mod-assign div.submissionreopened {
        color: var(--text-color);
        background-color: var(--backgorund);
    }
    .path-mod-assign td.submissiongraded,
    .path-mod-assign div.submissiongraded {
        color: var(--text-color);
        background-color: #0a3f0a30
    }
    .path-mod-assign td.submissionnotgraded,
    .path-mod-assign div.submissionnotgraded {
        color: var(--text-color);
        background-color: var(--backgorund);
    }
    .path-mod-assign td.latesubmission,
    .path-mod-assign a:link.latesubmission,
    .path-mod-assign div.latesubmission {
        color: var(--text-color);
        background-color: #4d1c1c6b
    }
    .path-mod-assign td.earlysubmission,
    .path-mod-assign div.earlysubmission {
        color: var(--text-color);
        background-color: #0a3f0a30
    }
    .path-mod-assign td.gradingreminder,
    .path-mod-assign div.gradingreminder {
        color: var(--text-color);
        background-color: #4d1c1c6b
    }
    .generaltable tbody tr:hover {
        color: var(--text-color);
        background-color: var(--backgorund);
    }
    .generaltable tbody tr:nth-of-type(odd) {
        background-color: var(--backgorund);
    }
    table#explaincaps tbody>tr:hover>td.lastcol,
    table#defineroletable tbody>tr:hover>td.lastcol,
    table.grading-report tbody>tr:hover>td.lastcol,
    table#listdirectories tbody>tr:hover>td.lastcol,
    table.rolecaps tbody>tr:hover>td.lastcol,
    table.userenrolment tbody>tr:hover>td.lastcol,
    table#form tbody>tr:hover>td.lastcol,
    form#movecourses table tbody>tr:hover>td.lastcol,
    #page-admin-course-index .editcourse tbody>tr:hover>td.lastcol,
    .forumheaderlist tbody>tr:hover>td.lastcol,
    table.flexible tbody>tr:hover>td.lastcol,
    .generaltable tbody>tr:hover>td.lastcol,
    table#explaincaps tbody>tr:hover>th.lastcol,
    table#defineroletable tbody>tr:hover>th.lastcol,
    table.grading-report tbody>tr:hover>th.lastcol,
    table#listdirectories tbody>tr:hover>th.lastcol,
    table.rolecaps tbody>tr:hover>th.lastcol,
    table.userenrolment tbody>tr:hover>th.lastcol,
    table#form tbody>tr:hover>th.lastcol,
    form#movecourses table tbody>tr:hover>th.lastcol,
    #page-admin-course-index .editcourse tbody>tr:hover>th.lastcol,
    .forumheaderlist tbody>tr:hover>th.lastcol,
    table.flexible tbody>tr:hover>th.lastcol,
    .generaltable tbody>tr:hover>th.lastcol,
    table#explaincaps tbody>tr:hover>td.lastcol,
    table#defineroletable tbody>tr:hover>td.lastcol,
    table.grading-report tbody>tr:hover>td.lastcol,
    table#listdirectories tbody>tr:hover>td.lastcol,
    table.rolecaps tbody>tr:hover>td.lastcol,
    table.userenrolment tbody>tr:hover>td.lastcol,
    table#form tbody>tr:hover>td.lastcol,
    form#movecourses table tbody>tr:hover>td.lastcol,
    #page-admin-course-index .editcourse tbody>tr:hover>td.lastcol,
    .forumheaderlist tbody>tr:hover>td.lastcol,
    table.flexible tbody>tr:hover>td.lastcol,
    .generaltable tbody>tr:hover>td.lastcol,
    table#explaincaps tbody>tr:hover>th.lastcol,
    table#defineroletable tbody>tr:hover>th.lastcol,
    table.grading-report tbody>tr:hover>th.lastcol,
    table#listdirectories tbody>tr:hover>th.lastcol,
    table.rolecaps tbody>tr:hover>th.lastcol,
    table.userenrolment tbody>tr:hover>th.lastcol,
    table#form tbody>tr:hover>th.lastcol,
    form#movecourses table tbody>tr:hover>th.lastcol,
    #page-admin-course-index .editcourse tbody>tr:hover>th.lastcol,
    .forumheaderlist tbody>tr:hover>th.lastcol,
    table.flexible tbody>tr:hover>th.lastcol,
    .generaltable tbody>tr:hover>th.lastcol {
        background: none;
    }
    table#explaincaps tbody>tr:nth-child(odd):hover>td.lastcol,
    table#defineroletable tbody>tr:nth-child(odd):hover>td.lastcol,
    table.grading-report tbody>tr:nth-child(odd):hover>td.lastcol,
    table#listdirectories tbody>tr:nth-child(odd):hover>td.lastcol,
    table.rolecaps tbody>tr:nth-child(odd):hover>td.lastcol,
    table.userenrolment tbody>tr:nth-child(odd):hover>td.lastcol,
    table#form tbody>tr:nth-child(odd):hover>td.lastcol,
    form#movecourses table tbody>tr:nth-child(odd):hover>td.lastcol,
    #page-admin-course-index .editcourse tbody>tr:nth-child(odd):hover>td.lastcol,
    .forumheaderlist tbody>tr:nth-child(odd):hover>td.lastcol,
    table.flexible tbody>tr:nth-child(odd):hover>td.lastcol,
    .generaltable tbody>tr:nth-child(odd):hover>td.lastcol,
    table#explaincaps tbody>tr:nth-child(odd):hover>th.lastcol,
    table#defineroletable tbody>tr:nth-child(odd):hover>th.lastcol,
    table.grading-report tbody>tr:nth-child(odd):hover>th.lastcol,
    table#listdirectories tbody>tr:nth-child(odd):hover>th.lastcol,
    table.rolecaps tbody>tr:nth-child(odd):hover>th.lastcol,
    table.userenrolment tbody>tr:nth-child(odd):hover>th.lastcol,
    table#form tbody>tr:nth-child(odd):hover>th.lastcol,
    form#movecourses table tbody>tr:nth-child(odd):hover>th.lastcol,
    #page-admin-course-index .editcourse tbody>tr:nth-child(odd):hover>th.lastcol,
    .forumheaderlist tbody>tr:nth-child(odd):hover>th.lastcol,
    table.flexible tbody>tr:nth-child(odd):hover>th.lastcol,
    .generaltable tbody>tr:nth-child(odd):hover>th.lastcol {
        background: none;
    }
    table#explaincaps tbody>tr:nth-child(odd):hover>td.lastcol,
    table#defineroletable tbody>tr:nth-child(odd):hover>td.lastcol,
    table.grading-report tbody>tr:nth-child(odd):hover>td.lastcol,
    table#listdirectories tbody>tr:nth-child(odd):hover>td.lastcol,
    table.rolecaps tbody>tr:nth-child(odd):hover>td.lastcol,
    table.userenrolment tbody>tr:nth-child(odd):hover>td.lastcol,
    table#form tbody>tr:nth-child(odd):hover>td.lastcol,
    form#movecourses table tbody>tr:nth-child(odd):hover>td.lastcol,
    #page-admin-course-index .editcourse tbody>tr:nth-child(odd):hover>td.lastcol,
    .forumheaderlist tbody>tr:nth-child(odd):hover>td.lastcol,
    table.flexible tbody>tr:nth-child(odd):hover>td.lastcol,
    .generaltable tbody>tr:nth-child(odd):hover>td.lastcol,
    table#explaincaps tbody>tr:nth-child(odd):hover>th.lastcol,
    table#defineroletable tbody>tr:nth-child(odd):hover>th.lastcol,
    table.grading-report tbody>tr:nth-child(odd):hover>th.lastcol,
    table#listdirectories tbody>tr:nth-child(odd):hover>th.lastcol,
    table.rolecaps tbody>tr:nth-child(odd):hover>th.lastcol,
    table.userenrolment tbody>tr:nth-child(odd):hover>th.lastcol,
    table#form tbody>tr:nth-child(odd):hover>th.lastcol,
    form#movecourses table tbody>tr:nth-child(odd):hover>th.lastcol,
    #page-admin-course-index .editcourse tbody>tr:nth-child(odd):hover>th.lastcol,
    .forumheaderlist tbody>tr:nth-child(odd):hover>th.lastcol,
    table.flexible tbody>tr:nth-child(odd):hover>th.lastcol,
    .generaltable tbody>tr:nth-child(odd):hover>th.lastcol,
    table#explaincaps tbody>tr:hover>td,
    table#defineroletable tbody>tr:hover>td,
    table.grading-report tbody>tr:hover>td,
    table#listdirectories tbody>tr:hover>td,
    table.rolecaps tbody>tr:hover>td,
    table.userenrolment tbody>tr:hover>td,
    table#form tbody>tr:hover>td,
    form#movecourses table tbody>tr:hover>td,
    #page-admin-course-index .editcourse tbody>tr:hover>td,
    .forumheaderlist tbody>tr:hover>td,
    table.flexible tbody>tr:hover>td,
    .generaltable tbody>tr:hover>td,
    table#explaincaps tbody>tr:hover>th,
    table#defineroletable tbody>tr:hover>th,
    table.grading-report tbody>tr:hover>th,
    table#listdirectories tbody>tr:hover>th,
    table.rolecaps tbody>tr:hover>th,
    table.userenrolment tbody>tr:hover>th,
    table#form tbody>tr:hover>th,
    form#movecourses table tbody>tr:hover>th,
    #page-admin-course-index .editcourse tbody>tr:hover>th,
    .forumheaderlist tbody>tr:hover>th,
    table.flexible tbody>tr:hover>th,
    .generaltable tbody>tr:hover>th,
    table#explaincaps tbody>tr:hover>td.lastcol,
    table#defineroletable tbody>tr:hover>td.lastcol,
    table.grading-report tbody>tr:hover>td.lastcol,
    table#listdirectories tbody>tr:hover>td.lastcol,
    table.rolecaps tbody>tr:hover>td.lastcol,
    table.userenrolment tbody>tr:hover>td.lastcol,
    table#form tbody>tr:hover>td.lastcol,
    form#movecourses table tbody>tr:hover>td.lastcol,
    #page-admin-course-index .editcourse tbody>tr:hover>td.lastcol,
    .forumheaderlist tbody>tr:hover>td.lastcol,
    table.flexible tbody>tr:hover>td.lastcol,
    .generaltable tbody>tr:hover>td.lastcol,
    table#explaincaps tbody>tr:hover>th.lastcol,
    table#defineroletable tbody>tr:hover>th.lastcol,
    table.grading-report tbody>tr:hover>th.lastcol,
    table#listdirectories tbody>tr:hover>th.lastcol,
    table.rolecaps tbody>tr:hover>th.lastcol,
    table.userenrolment tbody>tr:hover>th.lastcol,
    table#form tbody>tr:hover>th.lastcol,
    form#movecourses table tbody>tr:hover>th.lastcol,
    #page-admin-course-index .editcourse tbody>tr:hover>th.lastcol,
    .forumheaderlist tbody>tr:hover>th.lastcol,
    table.flexible tbody>tr:hover>th.lastcol,
    .generaltable tbody>tr:hover>th.lastcol {
        background-color: var(--backgorund);
    }
    tr {
        border-color: var(--th-background);
    }
    .generaltable th,
    .generaltable td {
        border-color: var(--th-background);
    }
    .custom-control-label::before,
    .custom-file-label,
    .custom-select {
        background-color: var(--btn-color);
        color: var(--text-color);
        border-color: var(--btn-color);
        border-radius: 5px;
    }
    #page-wrapper .btn-link {
        color: var(--text-color);
    }
    #page-wrapper .btn-link:hover {
        color: white;
    }
    .badge {
        border-radius: 3px;
    }
    .badge-primary {
        color: #fff;
        background-color: #1177d1
    }
    a.badge-primary:hover,
    a.badge-primary:focus {
        color: #fff;
        background-color: #0d5ca2
    }
    a.badge-primary:focus,
    a.badge-primary.focus {
        outline: 0;
        -webkit-box-shadow: 0 0 0 .2rem rgba(17, 119, 209, .5);
        box-shadow: 0 0 0 .2rem rgba(17, 119, 209, .5)
    }
    .badge-secondary {
        color: #343a40;
        background-color: #ced4da
    }
    a.badge-secondary:hover,
    a.badge-secondary:focus {
        color: #343a40;
        background-color: #b1bbc4
    }
    a.badge-secondary:focus,
    a.badge-secondary.focus {
        outline: 0;
        -webkit-box-shadow: 0 0 0 .2rem rgba(206, 212, 218, .5);
        box-shadow: 0 0 0 .2rem rgba(206, 212, 218, .5)
    }
    .badge-success {
        color: #fff;
        background-color: #398439
    }
    a.badge-success:hover,
    a.badge-success:focus {
        color: #fff;
        background-color: #2a602a
    }
    a.badge-success:focus,
    a.badge-success.focus {
        outline: 0;
        -webkit-box-shadow: 0 0 0 .2rem rgba(57, 132, 57, .5);
        box-shadow: 0 0 0 .2rem rgba(57, 132, 57, .5)
    }
    .badge-info {
        color: #fff;
        background-color: #5bc0de91
    }
    a.badge-info:hover,
    a.badge-info:focus {
        color: #fff;
        background-color: #31b0d5
    }
    a.badge-info:focus,
    a.badge-info.focus {
        outline: 0;
        -webkit-box-shadow: 0 0 0 .2rem rgba(91, 192, 222, .5);
        box-shadow: 0 0 0 .2rem rgba(91, 192, 222, .5)
    }
    .badge-warning {
        color: #fff;
        background-color: #f0ad4e
    }
    a.badge-warning:hover,
    a.badge-warning:focus {
        color: #fff;
        background-color: #ec971f
    }
    a.badge-warning:focus,
    a.badge-warning.focus {
        outline: 0;
        -webkit-box-shadow: 0 0 0 .2rem rgba(240, 173, 78, .5);
        box-shadow: 0 0 0 .2rem rgba(240, 173, 78, .5)
    }
    .badge-danger {
        color: #fff;
        background-color: #d43f3a
    }
    a.badge-danger:hover,
    a.badge-danger:focus {
        color: #fff;
        background-color: #b42c27
    }
    a.badge-danger:focus,
    a.badge-danger.focus {
        outline: 0;
        -webkit-box-shadow: 0 0 0 .2rem rgba(212, 63, 58, .5);
        box-shadow: 0 0 0 .2rem rgba(212, 63, 58, .5)
    }
    .badge-light {
        color: #343a40;
        background-color: #f8f9fa
    }
    a.badge-light:hover,
    a.badge-light:focus {
        color: #343a40;
        background-color: #dae0e5
    }
    a.badge-light:focus,
    a.badge-light.focus {
        outline: 0;
        -webkit-box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5);
        box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
    }
    .badge-dark {
        color: #fff;
        background-color: #343a40
    }
    a.badge-dark:hover,
    a.badge-dark:focus {
        color: #fff;
        background-color: #1d2124
    }
    .fp-iconview .fp-thumbnail {
        border: 1px solid var(--th-background);
        border-radius: 5px;
    }
    .fp-iconview .fp-filename-field .fp-filename {
        background: var(--backgorund);
    }
    .moodle-dialogue-base .moodle-dialogue-wrap {
        background-color: var(--backgorund);
    }
    .moodle-dialogue-base .moodle-dialogue-wrap {
        border-radius: 5px;
    }
    .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd,
    .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd {
        background-color: var(--th-background);
    }
    .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd {
        border: 0;
    }
    .moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd .btn-secondary,
    .moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd .btn-primary {
        background-color: var(--btn-color);
        border: 0;
        border-radius: 5px;
    }
    .moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd .btn-secondary:hover,
    .moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd .btn-primary:hover {
        background-color: var(--btn-hover-color);
    }
    .fp-select .fp-thumbnail {
        background: var(--backgorund);
        box-shadow: none;
        border-radius: 5px;
        border-color: var(--th-background);
    }
    .fp-select .fp-thumbnail img {
        border: 1px solid var(--th-background);
        border-radius: 5px;
        padding: 3px;
        vertical-align: middle;
        margin: 10px;
    }
    .form-control {
        background-color: var(--sec-background);
        border: 1px solid var(--th-background);
        border-radius: 4px;
        color: var(--text-color);
    }
    .mform .form-inline .form-control {
        border-radius: 4px;
    }
    .form-control:focus {
        color: white;
        background-color: var(--sec-background);
    }
    a.dropdown-toggle:focus {
        box-shadow: none;
    }
    .message-app .header-container {
        background-color: var(--sec-background) !important;
    }
    [data-region=right-hand-drawer].drawer {
        background-color: var(--sec-background) !important;
        /* TODO */
    }
    [data-region=right-hand-drawer] .closewidget {
        background-color: var(--sec-background) !important;
    }
    .h-100 {
        background-color: var(--sec-background);
    }
    a,
    .text-center {
        background-color: var(--background);
    }
    .text-center {
        background-color: var(--sec-background);
    }
    .btn-link:focus {
        box-shadow: none;
    }
    .input-group-text {
        border-color: var(--th-background);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .input-group>.form-control,
    .input-group>.custom-select,
    .input-group>.custom-file {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .input-group>.form-control:focus,
    .input-group>.custom-select:focus,
    .input-group>.custom-file .custom-file-input:focus~.custom-file-label {
        border-color: var(--th-background);
    }
    #page-wrapper .btn-outline-secondary {
        margin-left: 5px;
        color: var(--text-color);
        background: var(--btn-color);
        border-color: var(--th-background);
        border-radius: 4px;
    }
    #page-wrapper .btn-outline-secondary:hover {
        color: white;
        border-color: var(--btn-hover-color);
        background: var(--btn-hover-color);
    }
    .input-group>.form-control:focus,
    .input-group>.custom-select:focus,
    .input-group>.custom-file .custom-file-input:focus~.custom-file-label {
        border-radius: 4px;
    }
    .list-group-item-action:hover,
    .list-group-item-action:focus {
        background-color: var(--th-background);
    }
    .message-app .message.received {
        background-color: var(--th-background);
    }
    .message-app .message.received .tail {
        left: 0;
        margin-left: -.5rem;
        border-bottom-color: var(--th-background);
    }
    .message-app .message p {
        color: white;
    }
    .font-weight-bold {
        color: var(--text-color);
    }
    .message-app .message.send {
        background: var(--rec-background);
    }
    .message-app .message.send .tail {
        right: 0;
        margin-right: -.5rem;
        border-bottom-color: var(--rec-background);
    }
    .message-app .message.send .time {
        color: var(--text-color);
    }
    .message-app .footer-container textarea {
        background: var(--backgorund) !important;
        ;
    }
    .message-app .btn.btn-link.btn-icon:hover,
    .message-app #page-header .btn-link.btn-icon.button:not(.btn):hover,
    #page-header .message-app .btn-link.btn-icon.button:not(.btn):hover,
    .message-app #page-wrapper .btn-link.btn-icon.button:not(.btn):hover,
    #page-wrapper .message-app .btn-link.btn-icon.button:not(.btn):hover,
    .message-app .moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd .btn-link.btn-icon.button:not(.btn):hover,
    .moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd .message-app .btn-link.btn-icon.button:not(.btn):hover,
    .message-app #page-navbar .btn-link.btn-icon.button:not(.btn):hover,
    #page-navbar .message-app .btn-link.btn-icon.button:not(.btn):hover,
    .message-app #page-footer .btn-link.btn-icon.button:not(.btn):hover,
    #page-footer .message-app .btn-link.btn-icon.button:not(.btn):hover,
    .message-app .block .btn-link.btn-icon.button:not(.btn):hover,
    .block .message-app .btn-link.btn-icon.button:not(.btn):hover,
    .message-app #page-wrapper .block .btn-link.btn-icon.button:not(.btn):hover,
    #page-wrapper .block .message-app .btn-link.btn-icon.button:not(.btn):hover,
    .message-app .collapsible-section .btn-link.btn-icon.button:not(.btn):hover,
    .collapsible-section .message-app .btn-link.btn-icon.button:not(.btn):hover,
    .message-app #page-wrapper .collapsible-section .btn-link.btn-icon.button:not(.btn):hover,
    #page-wrapper .collapsible-section .message-app .btn-link.btn-icon.button:not(.btn):hover,
    .message-app .btn.btn-link.btn-icon:focus,
    .message-app #page-header .btn-link.btn-icon.button:not(.btn):focus,
    #page-header .message-app .btn-link.btn-icon.button:not(.btn):focus,
    .message-app #page-wrapper .btn-link.btn-icon.button:not(.btn):focus,
    #page-wrapper .message-app .btn-link.btn-icon.button:not(.btn):focus,
    .message-app .moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd .btn-link.btn-icon.button:not(.btn):focus,
    .moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd .message-app .btn-link.btn-icon.button:not(.btn):focus,
    .message-app #page-navbar .btn-link.btn-icon.button:not(.btn):focus,
    #page-navbar .message-app .btn-link.btn-icon.button:not(.btn):focus,
    .message-app #page-footer .btn-link.btn-icon.button:not(.btn):focus,
    #page-footer .message-app .btn-link.btn-icon.button:not(.btn):focus,
    .message-app .block .btn-link.btn-icon.button:not(.btn):focus,
    .block .message-app .btn-link.btn-icon.button:not(.btn):focus,
    .message-app #page-wrapper .block .btn-link.btn-icon.button:not(.btn):focus,
    #page-wrapper .block .message-app .btn-link.btn-icon.button:not(.btn):focus,
    .message-app .collapsible-section .btn-link.btn-icon.button:not(.btn):focus,
    .collapsible-section .message-app .btn-link.btn-icon.button:not(.btn):focus,
    .message-app #page-wrapper .collapsible-section .btn-link.btn-icon.button:not(.btn):focus,
    #page-wrapper .collapsible-section .message-app .btn-link.btn-icon.button:not(.btn):focus {
        background-color: var(--backgorund);
    }
    .border-top {
        border-color: var(--th-background) !important;
    }
    .calendar_event_course {
        background-color: #ffd3bd33;
    }
}
