/* ==UserStyle==
@name           SDO Pgups Dark Theme
@namespace      github.com/openstyles/stylus
@version        1.0.4
@updateURL      https://github.com/CalebCintary/pgups-dark-theme-stylys/raw/main/sdo.pgups.ru.user.css
@description    A new userstyle
@author         CalebCintary
==/UserStyle== */

/* Scrolled logo fix */
.ot-sticky-scrolled #h_leftblock_wrapper .header_logoimage img.compact-logo {
    display: inline-block;
    height: 50px;
    width: 50px;
}

/* Fix for border radius under buttons*/
.btn {
    border-radius: 0.5rem;
}

/**
*
*   HEADER FIX
*
*/

/* Fix for nav positioning */

#h_rightblock_wrapper .usernav {
    margin: 0.25rem 0 0;
    flex-direction: row!important;
    padding: 0;
}

#h_rightblock_wrapper .btn {
    background-color: #337a61;
    border: none;
}

@media (min-width: 768px) {
    .h_top.align-items-md-stretch, .h_top.flex-lg-row {
        align-items: center !important;
        flex-direction: row !important;
        justify-content: space-between !important;
    }
    
    #h_leftblock_wrapper {
        flex-grow: 0;
        flex-direction: row!important;
        flex-wrap: nowrap;
    }
}


/* Fix for avatar and profile on header */

#h_rightblock_wrapper {
    padding: 0;
}

#h_rightblock_wrapper.nocaret .usermenu .moodle-actionmenu .dropdown-toggle .userbutton {
    margin-right: 1rem;
    margin-left: 1rem;
}

#h_rightblock_wrapper.nocaret .usermenu .moodle-actionmenu .dropdown-toggle .userbutton .usertext {
    font-size: 1rem;
    font-weight: 500;
}

#h_rightblock_wrapper.nocaret .usermenu .moodle-actionmenu .dropdown-toggle .userbutton .userpicture {
    border-radius: 500px;
}

/* Fix drawwers */

.headermain {
    display: flex!important;
    justify-content: center;
    margin: auto 0;
    width: 100%
}

.drawer-toggler-courseindex button {
    border-top-right-radius: 0.5rem!important;
    border-bottom-right-radius: 0.5rem!important;
}
